<div class="lists">
<!--
  <p-tree [value]="nodes">
    <ng-template let-node pTemplate="url">
        <a [href]="node.data">{{node.label}}</a>
    </ng-template>
    <ng-template let-node pTemplate="default">
        <b>{{node.label}}</b>
    </ng-template>
</p-tree>
-->
</div>
<!--
<h5>Flexible Viewport</h5>
<p>Flex scroll feature makes the scrollable viewport section dynamic so that it can grow or shrink relative to the parent size of the tree. Click the button below
    to display a resizable and maximizable Dialog where data viewport adjusts itself according to the size changes.</p>

<button type="button" (click)="showDialog()" pButton icon="pi pi-external-link" label="View"></button>
<p-dialog header="Flexible ScrollHeight" [(visible)]="dialogVisible" [style]="{width: '50vw'}" [baseZIndex]="10000" [maximizable]="true" [modal]="true"
    [resizable]="true" [contentStyle]="{height: '300px'}" styleClass="p-fluid">
    <p-tree [value]="files2" scrollHeight="flex"></p-tree>
    <ng-template pTemplate="footer">
        <button type="button" pButton icon="pi pi-check" (click)="dialogVisible=false" label="Ok" class="p-button-text"></button>
    </ng-template>
</p-dialog>

<h5>Virtual Scroll</h5>
<p-tree [value]="files3" [virtualScroll]="true" [virtualNodeHeight]="33" scrollHeight="200px"></p-tree>
-->
