<p>a-buttons works!</p>

<div class="form-group container">
  <button type="button" class="btn btn-outline-secondary mr-2"></button>
  <button type="button" class="btn btn-outline-secondary mr-2"></button>
  <button type="button" class="btn btn-outline-secondary mr-2"></button>
  <button type="button" class="btn btn-outline-secondary mr-2"></button>
  <button type="button" class="btn btn-outline-secondary mr-2"></button>
  <button type="button" class="btn btn-outline-secondary mr-2"></button>
</div>
